/*


font-family: 'Raleway', sans-serif;

font-family: 'Noto Serif KR', sans-serif;

font-family: 'Dosis', sans-serif;


 */

html,
body {
    background-color: #2E4347;
    color: #fff;
    height: 100%;
    font-size: 11px;
}

header {
    background: #2E4347 url("The_Braaid_2.jpg") center;
    background-size: cover;
    background-blend-mode: overlay;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    height: 100vh;
}
section + footer {
    background-color: #000;
    height: 300px;
}
hr {
    max-width: 100px;
    width: 100%;
    border: 1px solid rgba(255,255,255, 0.2);
    margin: 30px auto;
}
header hr {
    margin: 30px auto 0;
}
section {

}
#about {
    background: #333 url("social_archaeology.jpg") center;
    background-size: cover;
    background-blend-mode: overlay;
}
#features {
    background: #222 url("Snaefell.jpg") center;
    background-size: cover;
    background-blend-mode: overlay;
}
#signup {
    background: #222 url("Archaeology_Trowel.jpg") center;
    background-size: cover;
    background-blend-mode: overlay;
}
.container, .container-fluid {
    text-align: center;

}
h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 100;
}

.intro p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 2rem;
    font-weight: 200;
}
.precis {
    justify-content: center;
}

blockquote {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-align: justify-all;
    margin: 2rem auto;
}
blockquote footer {
    font-size: 1.5rem;
}
a {
    color: #fff;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color:  #fff;
    text-decoration: none;
    opacity: 1;
}
.background-credit {
    text-align: right;
}
.background-credit p {
    font-family: 'Raleway', sans-serif;
    font-size: .8rem;
    font-weight: 100;
}

section {
    height: 100vh;
    box-shadow: -5px -5px 300px 200px rgba(0,0,0,0.6) inset;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
h2 {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}
section p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}
#about {
    background-color: #333;
}
#features {
    background-color: #222;
}
#signup {
    background-color: #111;
}

.btn-primary {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.7);
    color: #fff;
}

header .btn-primary {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255,255,255,1.0);
}
.btn-primary:focus {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255,255,255,1.0);
    box-shadow: 0 0 5px rgba(255,255,255, 0.6);
}
.btn .oi {
    font-size: 1rem;
}
@media (min-width: 576px) {

    hr {
        margin: 2rem auto;
    }
    header hr {
        margin: 2rem auto 0;
    }

}
@media (min-width: 768px) {

    html,
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    blockquote {
        font-size: 3rem;
        margin: 2rem auto;
    }
    blockquote footer {
        font-size: 2rem;
    }

    header .btn-primary {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    html,
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 2rem;
    }
}

@media
(-webkit-min-device-pixel-ratio: 3),
(min-resolution: 280dpi){
    /* Retina-specific stuff here */

    h1 {
        font-size: 3rem;
    }
    blockquote {
        font-size: 1.5rem;
        margin: 1rem auto;
    }
    blockquote footer {
        font-size: 1.5rem;
    }

    header .btn-primary {
        font-size: 1.5rem;
    }
}